.xdebug-var-dump {
	margin-top: 50px;
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #FFF8DC;
}

.bold {
	font-weight: bold;
}

.center-alignment {
	text-align: center;
}

.right-alignment {
	text-align: right;
}

.no_width {
	width: auto;
}

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.no-show {
	display: none;
}

.no-overflow {
	overflow: hidden;
}

.float-left {
	float: left;
}

.float-right {
	float: left;
}

.no-float {
	clear: both;
	float: none;
}

.desktop-only {
}

.mobile-only {
	display: none;
}

.astable {
	width: 193px;
	margin-right: 2px;
}

.astable_big {
	width: 295px;
}

.astable_small {
	width: 95px;
}

.astable_hline {
	margin-bottom: 5px;
	border-bottom: 1px solid #999999;
}

span.astable, span.astable_big, span.astable_small {
	display: inline-block;
}

.astable_error {
	width: 200px !important;
	color: #ff0000;
	font-weight: normal;
}

.policy_subtitle {
	display: inline;
	text-decoration: underline;
}

#applicationForm {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
}

#applicationForm h2 {
	color: #17386f;
	font-weight: 800;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.subhead2-blue {
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 2px;
}

h2 {
	margin: 25px 0 15px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

p.moduleSubheader {
	font-size: 18px;
}

a.enrollment {
	color: #17386F; /*#DDAA07;*/
	text-decoration: underline;
}

span.group-label {
	display: inline-block;
	padding: 15px 0px 0px 0px;
	font-weight: bold;
}

img.payment_images {
	padding-left: 300px;
}

img.trusted_logo {
	border: 1px solid #a9a9a9;
}

p.form-row {
	margin-bottom: 20px;
}

.form-group-spacer {
	height: 20px;
}

.form-group-spacer-small {
	height: 10px;
}

label {
	display: inline-block;
	width: 274px;
}

label.w260 {
	width: 260px;
}

label.w670 {
	width: 100%;
	max-width: 670px;
}

label.rpad15 {
	padding-right: 15px;
}

label.error {
	width: 100%;
	margin-top: 2px;
	padding-left: 280px;
	color: #ff0000;
	font-weight: normal;
}

label.radio-error {
	text-align: right;
}

label.nopad-error {
	padding-left: 0px;
}

label.big {
	font-size: 18px;
	width: auto;
}

input, select, textarea {
	margin: 0px 0px 0px 0px !important;
}

select {
	/*-webkit-appearance: none;*/
}

input[type=text], select{
	width: 100%;
	max-width: 521px;
	font-size: 16px;
}

input[type=radio], input[type=checkbox] {
	width: auto;
	margin: 0px 0px 0px 0px !important;
	border-width: 0px;
	background-color: transparent;
}

input[type=radio] {
	border-radius: 10px;
	background-color: #13669B;
}

input[type=checkbox] {
	margin-left: 3px !important;
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
}

select{
	height: 40px;
}

input.w800 {
	width: 100%;
	max-width: 800px;
}

input.tmargin5 {
	margin-top: 5px !important;
}

input[type="submit"].small-button-orange, input[type="button"].small-button-orange,  .small-button-orange a {
	width: 280px;
	margin: 10px 0 !important;
	padding: 10px 5px;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #F9A15D;
}

.small-button-orange a {
	display: inline-block;
	text-decoration: none;
}

.medication_list {
	/*width: 800px;*/
	color: #333333;
}

/* Tooltip   */

.tooltips {
	display: block;
	position: absolute;
	padding: 5px;
	background: #ffc;
	/*z-index: 2147483640;*/
}

/*
#reminderPopup {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #666;
}

#reminderPopupContent {
	width: 700px;
	height: auto;
	margin: 300px auto 0px auto;
	padding: 40px;
	background-color: #e4dfd8;
	border: 1px solid #999;
	color: #000;
}
*/

/* Leave Popup */

header, .submenu-container {
	z-index: 2000;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/transpBlack75.png');
	z-index: 3000;
}

.leavePopupContent {
	width: 700px;
	height: auto;
	margin: auto;
	padding: 40px;
	background: #E4dfd8;
}

.leavePopupContent form{
	width: 100%;
	padding-bottom: 0px;
}

.leavePopupContent textarea {
	width: 100%;
	height: 90px;
}

.page_steps {
	width: 400px;
	margin: 10px auto 0 auto;
	padding-top: 0px;
	background: url('../images/steps_bg.png') no-repeat center 20px;
}

.page_step {
	float: left;
	width: 100px;
	padding-top: 50px;
	color: #17386f;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background: url('../images/step_blank.png') no-repeat center 10px;
}

.page_step_checked {
	background: url('../images/step_checked.png') no-repeat center -5px;
}

.page_step_current {
	background: url('../images/step_current.png') no-repeat center 10px;
}

.terms_scroll_box {
	height: 200px;
	padding: 15px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
}

.broker-title {
	/*line-height: 200px;*/
	color: #17386f;
	font-size: 18px;
	font-weight: bold;
}

@media only screen and (max-width:1080px) {
	/*horizontal tablet size*/

	label.blank {
		width: 100%;
	}

	label.blank {
		width: 0px;
	}

	label.w260, label.as_block {
		display: block;
	}

	label.big {
		width: 90%;
		vertical-align: top;
	}

	label.error {
		padding-left: 0px;
	}

	label.radio-error {
		text-align: left;
	}

	input, select, textarea {
		margin: 5px 0px 12px 0px;
	}

	input[type=radio], input[type=checkbox] {
		width: 13px;
		height: 13px;
		margin: 5px 0px 0px 0px !important;
		border: 1px solid #333333;
	}

	input[type=checkbox] {
		margin-left: 3px !important;
	}

	input.input_zero {
		width: 90%;
	}

	img.payment_images {
		padding-left: 0px;
	}

}

@media only screen and (max-width:860px) {
	/*vertical table and horizontal phone sizes*/
	label.w670 {
		display: block;
	}
}

@media only screen and (max-width:800px) {
	.desktop-only {
		display: none;
	}

	.mobile-only {
		display: block;
	}

	.right-alignment {
		text-align: left;
	}

	.astable , .astable_big , .astable_small {
		width: 100%;
	}
}

@media only screen and (max-width:480px) {
	label.w670-mixed {
		width: 100%;
		max-width: 670px;
	}
}

@media only screen and (max-width:460px) {
	/*vertical phone size*/
	.page_steps {
		width: 300px;
		background-size: 220px 10px;
	}
	.page_step {
		width: 75px;
		font-size: 11px;
		font-weight: bold;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus, select:hover,
  textarea, textarea:focus, textarea:hover,
  input:focus, input:hover {
    font-size: 16px;
  }

  select.astable, select.astable:focus, select.astable:hover,
  textarea.astable:focus, textarea.astable:hover,
  input.astable, input.astable:focus, input.astable:hover {
    font-size: 14px;
  }
}
